<div class="container">
  <div class="row opties">
    <div class="mat-elevation-z4 ripple-container col-5" matRipple [matRippleCentered]="centered"
      [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded" [matRippleRadius]="radius"
      [matRippleColor]="color" (click)="navigateArtiest()">
      <img src="../../../assets/monet.jpg">
      <span class="text"> Artiest
      </span>
    </div>
    <div class="col-2"></div>
    <div class="mat-elevation-z4 ripple-container col-5" matRipple [matRippleCentered]="centered"
      [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded" [matRippleRadius]="radius"
      [matRippleColor]="color" (click)="navigateGenre()">
      <img src="../../../assets/roses.jpg">
      <span class="text"> Genre
      </span>
    </div>
  </div>
</div>