<div class="container-fluid">
        <div class="row intro">
                <div class="col-xl-1">

                </div>
                <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12">
                        <img src="../assets/wikiart_logo_zwart.png" />
                </div>
                <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12">
                        <h2>Welkom op WikiArt!</h2>
                        <br>
                        <p>
                                Ben jij een kunstliefhebber? Leer je graag wat bij over je favoriete kustenaars? Wil
                                je weten welke schilderijen je geliefkoosde schilder nog heeft gemaakt? Dan ben je hier
                                zeker op het juiste adres. Je kan ariesten zoeken op naam, de details bekijken van
                                verscheidene kunstschilders, ... . Ben je onlangs een nieuw genre van kunst tegen gekomen?
                                Je kan deze altijd toevoegen op deze site zo dat andere ook in aanraking komen met dit
                                onbekende genre. Wanneer er een fout bij een schilder staat, wees dan niet bang om deze
                                aan te passen. Als je recentelijk een onontdekte kunstenaar bent tegen gekomen, twijfel
                                dan niet om deze toe te voegen. Deze site is van kunstliefhebbers voor kunstliefhebbers.
                        </p>
                </div>
                <div class="col-xl-1 ">

                </div>
        </div>
        <div class="voorgesteld">
                <h3>
                        Voorgestelde artiesten
                </h3>
          <div class="row">
                <div *ngFor="let artiest of artiesten; let i=index;">
                    <div *ngIf="i<4">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 img">
                            <a [routerLink]="['/details/', artiest.artiestID]" routerLinkActive="active">
                            <img class="artiest" src="{{artiest.imageUrl}}">
                                <span class="imgtext">
                                    <h2>{{artiest.naam}}</h2>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
        </div>
        </div>
</div>

