<div class="container-fluid">
        <div class="row my-5 align-items-center home">
                <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
                        <img src="../assets/wikiart_logo_zwart.png" class="img-fluid align-items-center" />
                </div>
                <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12">
                        <h2>Welkom op WikiArt!</h2>
                        <br>
                        <p>
                                Ben jij een kunstliefhebber? Leer je graag wat bij over je favoriete kustenaars? Wil
                                je weten welke schilderijen je geliefkoosde schilder nog heeft gemaakt? Dan ben je hier
                                zeker op het juiste adres. Je kan ariesten zoeken op naam, de details bekijken van
                                verscheidene kunstschilders, ... . Ben je onlangs een nieuw genre van kunst tegen
                                gekomen?
                                Je kan deze altijd toevoegen op deze site zo dat andere ook in aanraking komen met dit
                                onbekende genre. Wanneer er een fout bij een schilder staat, wees dan niet bang om deze
                                aan te passen. Als je recentelijk een onontdekte kunstenaar bent tegen gekomen, twijfel
                                dan niet om deze toe te voegen. Deze site is van kunstliefhebbers voor kunstliefhebbers.
                        </p>
                </div>
        </div>
        <div class="row mx-5 voorgesteld align-items-center">
                <h3>
                        Voorgestelde artiesten
                </h3>
                <div>
                        <div class="artiesten">
                                <div *ngFor="let artiest of artiesten;let i=index" class="artiest">
                                        <a [routerLink]="['/details/', artiest.artiestID]" routerLinkActive="active"
                                                *ngIf="i<4">
                                                <img src="{{artiest.imageUrl}}" class="img-fluid mat-elevation-z4" />
                                                <h4> {{artiest.naam}}
                                                </h4>
                                        </a>
                                </div>

                        </div>
                </div>
        </div>
</div>