
h1, h2, h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    text-align: justify;
    font-size: 16px;
} 

span h2 {
    font-family: 'Raleway';
    text-align: center;
}




@media only screen and (min-width: 1140px) {
    .intro {
        position: relative;
        top: 50px;
        margin-top: 50px;
        
    }
    
    .intro img {
        position: relative;
        top: 80px;
        right: 80px;
    }

    div h3 {
        margin-left: 20px;
        margin-top: 50px;
        margin-bottom: 15px;
    }

    .artiest{
        width: 20vw;
        height: 100%;
        margin: 15px;
        padding: 0;
        border-radius: 5% 5%;
        overflow: hidden;
    }

    .voorgesteld {
        position: relative;
        top: 120px;
        left: 20px;
    }

    .imgtext {
        position: absolute;
        top: 40%;
        bottom: 0;
        left: 50%;
        transform: translateX(-58%);
        right: 0;
        color: #fff;
        visibility: hidden;
        opacity: 0;
        transition: opacity .2s, visibility .2s;
    }
    
    .img:hover img {
        transition: all 300ms ease-in-out;
        filter: blur(2px);
        transform: scale(1.03);
    }
      
    .img:hover .imgtext {
        visibility: visible;
        opacity: 1;
    }
}

@media only screen and (max-width: 1140px) {

    .artiest{
        width: 40vw;
        height: 100%;
        padding: 0;
        border-radius: 5% 5%;
        overflow: hidden;
    }

    .img {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .intro img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .voorgesteld {
        position: relative;
        top: 40px;
        left: 20px;
    }

    .imgtext {
        position: absolute;
        top: 40%;
        bottom: 0;
        left: 50%;
        transform: translateX(-58%);
        right: 0;
        color: #fff;
        visibility: hidden;
        opacity: 0;
        transition: opacity .2s, visibility .2s;
    }
    
    .img:hover img {
        transition: all 300ms ease-in-out;
        filter: blur(2px);
        transform: scale(1.03);
    }
      
    .img:hover .imgtext {
        visibility: visible;
        opacity: 1;
    }
}

@media only screen and (max-width: 750px) {

    .artiest{
        width: 70vw;
        height: 100%;
        padding: 0;
        border-radius: 5% 5%;
        overflow: hidden;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .img:hover img {
        transition: none;
        filter: none;
        transform: none;
    }

    .imgtext {
        position: static;
        color: #000;
        opacity: 1;
        visibility: visible;
        transition: none;
    }

    .img {
        margin-bottom: 50px;
    }
}


