h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: 20px;
  }
  
  .schilderijform {
    position: relative;
    top: 40px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  button {
    background-color: #89818F;
    color: #fff;
  }
  
  .toevoegen {
    position: relative !important;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
  }
  