<mat-toolbar class="mat-elevation-z6">
    <a routerLink="" routerLinkActive="active">
        <img src="../assets/wikiart_logo.png" width="180px"  mat-button-icon/>  
    </a>
    <button mat-button class="menu" routerLink="/genres" routerLinkActive="active">Genres</button> 
    <span></span>
    <mat-form-field appearance="outline">
        <mat-label>Zoeken</mat-label>
        <input matInput placeholder="Zoek artiesten">
      </mat-form-field>
      <button mat-flat-button class="zoek"  routerLink="/zoek" routerLinkActive="active"><mat-icon>search</mat-icon></button> 
</mat-toolbar>