<mat-drawer-container class="drawer-container">
    <mat-drawer mode="side" opened>
        <div *ngFor="let genre of genres">
            <button mat-button class="menu-item" (click)="filterOpGenre(genre.id)">
                {{genre.naam}}
            </button>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="container-fluid">
            <form [formGroup]="filterForm">
                <mat-form-field appearance="outline">
                    <mat-label>Zoek artiesten</mat-label>
                    <input matInput placeholder="Zoek artiesten" type="text" name="Filter" formControlName="Filter"
                        (ngModelChange)="onChangeValue($event)" />
                </mat-form-field>
            </form>
            <div *ngIf="artiesten">
                <div *ngFor="let artiest of artiesten; let i=index;">
                    <div class="artiestenlijst align-items-center row">
                        <div class="col-2">
                            <img src="{{artiest.imageUrl}}" class="mat-elevation-z4 image-fluid">
                        </div>
                        <div class="tekst col-9">
                            <h3>{{artiest.naam}}</h3>
                            <br>
                            <p>
                                {{  limitTekst(artiest.biografie) }}
                            </p>
                            <a [routerLink]="['/details/', artiest.artiestID]" routerLinkActive="active">
                                Lees meer <mat-icon>keyboard_arrow_right</mat-icon>
                            </a>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                </div>
            </div>
            <div *ngIf="artiesten.length == 0">
                <p>Geen artiesten gevonden!</p>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>