<div class="container-fluid" *ngIf="artiest && !verwijderd && genresArtiest">
  <div class="row my-5 mx-5 align-items-center">
    <div class="col-12">
      <span>
        <button mat-flat-button type="button" class="verwijder" (click)="verwijderArtiest(artiest.artiestID)">
          <mat-icon>delete_forever</mat-icon>
        </button>
        <button mat-flat-button type="button" class="aanpassen" [routerLink]="['/aanpassen/', artiest.artiestID]">
          <mat-icon>edit</mat-icon>
        </button>
      </span>
      <div class="row">
        <h2>{{artiest.naam}}</h2>
      </div>
      <br>
      <div class="row align-items-center">
        <div class="col-lg-2">
          <img [src]='artiest.imageUrl' class="mat-elevation-z4 img-fluid">
        </div>
        <div class="col">
          <br>
          <div class="row">
            <div class="col-12" *ngIf="genresArtiest">
              <p>Genre: <span *ngFor="let genre of genresArtiest">{{genre.naam + " "}}</span></p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p>Jaren: {{artiest.jaren}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p>Nationaliteit: {{artiest.nationaliteit}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p>Aantal schilderijen: {{artiest.aantalSchilderijen}}</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12">
          <p>Biografie:</p>
          <p>{{artiest.biografie}}</p>
        </div>
      </div>
      <div class="row">
        <h2 *ngIf="schilderijen.length > 0">Gallerij</h2>
      </div>
      <div class="row">
        <br>
        <div class="schilderijen">
          <div *ngFor="let schilderij of schilderijen;" class="schilderij">
            <img src="{{schilderij.imageUrl}}" class="img-fluid mat-elevation-z4" />
            <button mat-mini-fab type="button" class="verwijderSchilderij"
              (click)="verwijderSchilderij(schilderij.schilderijID)">
              <mat-icon>clear</mat-icon>
            </button>
            <h4>{{schilderij.naam}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="verwijderd">
  <div>
    <h3 class="melding">De artiest is verwijderd!</h3>
    <a routerLink="/artiesten" routerLinkActive="active">
      <button mat-flat-button type="button" class="terug melding">Terug</button>
    </a>
  </div>
</div>