<div class="container-fluid" *ngIf="artiest && !verwijderd">
  <div class="row my-5 mx-5 align-items-center">
    <div class="col-lg-3">
      <img [src]='artiest.imageUrl' height="600px" width="auto" class="mat-elevation-z4 image-fluid">
    </div>
    <div class="col-lg-9">
      <span>
        <button mat-flat-button type="button" class="verwijder" (click)="verwijderArtiest(artiest.artiestID)">
          <mat-icon>delete_forever</mat-icon>
        </button>
        <button mat-flat-button type="button" class="aanpassen">
          <mat-icon>edit</mat-icon>
        </button>
      </span>
      <h2>{{artiest.naam}}</h2>
      <br>
      <div class="row">
        <div class="col-12">
          <p>Jaren: {{artiest.jaren}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p>Nationaliteit: {{artiest.nationaliteit}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p>Aantal schilderijen: {{artiest.aantalSchilderijen}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p>Biografie:</p>
          <p>{{artiest.biografie}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="verwijderd">
  <div>
    <h3 class="melding">De artiest is verwijderd!</h3>
    <a routerLink="/artiesten" routerLinkActive="active">
      <button mat-flat-button type="button" class="terug melding">Terug</button>
    </a>
  </div>
</div>